
.favLoading {
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1080px;
}

.favMusics {
  margin-left: 264.4px;
}

.title {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200vh;
  height: 30vh;
  flex-shrink: 0;
  display: flex;
  margin-left: -80px;
  justify-content: center;
  align-items: center;
}

.favText {
  width: 337.2px;
  height: 24.894px;
  flex-shrink: 0;
  color: black;
  text-align: center;
  font-family: Epilogue;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.musicsFav {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  text-align: start;
  margin-bottom: 20px;
}
