.dadosUser {
  margin-left: 264.4px;
}

.backProfile {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250vh;
  height: 30vh;
  flex-shrink: 0;
  display: flex;
  margin: auto;
  margin-left: -100px;
  justify-content: center;
  align-items: center;
}

.profilePic {
  margin-left: -950px;
  margin-top: 160px;
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 240px;
  box-shadow: -9px 8px 8px 0px rgba(68, 73, 85, 0.2);
}

.h3Profile {
  color: var(--gray-700, #3d495c);
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  text-align: start;
  margin-left: 370px;
}

.pProfile {
  color: var(--gray-700, #3d495c);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-left: 370px;
  text-align: start;
}


.descrip {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  height: 131px;
  flex-shrink: 0;
  margin-left: 370px;
  border: none;
  background: #dfe3e7;
  margin-bottom: -35px;
}


.editButton {
  color: white;
  width: 114px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 23px;
  background-color: rgb(127, 126, 133);
  background: linear-gradient(330deg, rgb(104, 101, 101) 15%, rgb(64, 64, 65) 60%);
  cursor: pointer;
  border: none;
  margin-left: -220px;
  padding: 10px 20px;
  text-decoration: none;
}

.divData {
  margin-top: 50px;
}

.profileLoader {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 264.4px;
}