.albumSongs {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 380px;
  margin-top: 50px;
  text-align: start;
  margin-bottom: 20px;
}

.albumDetails {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250vh;
  height: 30vh;
  flex-shrink: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.capa {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 12px;
  box-shadow: -9px 8px 8px 0px rgba(68, 73, 85, 0.2);
  margin-top: 100px;
  margin-left: -350px;
}

.artistAndAlbum {
  margin-left: 30px;
  margin-top: -10px;
  text-align: start;
}

.albumNameA {
  width: 270px;
  color: black;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

.artistNameA {
  color: black;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-top: -5px;
}

.albumLoading {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 264.4px;
}
