.loginMain {
  align-items: center;
  background-image: url('../../../public/assets/login.png');
  display: flex;
  justify-content: center;
  height: 100vh;
  left: -2753px;
  text-align: center;
  top: 591px;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 126, 133);
  background: linear-gradient(330deg, rgb(104, 101, 101) 15%, rgb(64, 64, 65) 60%);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 450px;
  margin: 135px 265px;
  padding: 10px 0px 10px 0px;
  position: fixed;
  width: 120vh;
}

.logo {
  background: rgb(189, 189, 192);
  background: linear-gradient(330deg, rgb(172, 168, 168) 15%, rgb(128, 128, 129) 60%);
  border-radius: 20px;
  box-shadow: 1px 1px 26px 1px rgba(68, 73, 85, 0.2);
  margin-bottom: 40px;
  margin-top: 20px;
  width: 220px;
}

.login {
  background: rgb(159, 159, 161);
  border-radius: 100px;
  border: none;
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: normal;
  margin-top: 20px;
  outline: none;
  text-align: center;
  width: 300px;
}

.login::placeholder {
  color: rgb(31, 31, 31);
}

.button {
  background-color: rgb(127, 126, 133);
  background: linear-gradient(330deg, rgb(104, 101, 101) 15%, rgb(64, 64, 65) 60%);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.loginLoader {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  background: #dfe3e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-top: 50px;
}